/* .md-table */
.md-table {
  border: 1px solid #e2e8f0;
}
.md-table th, .md-table td{
  padding: 0.5rem!important;
}
.md-table .br {
  border-right: 1px solid #e2e8f0;
}
.md-table .center {
  text-align: center;
  vertical-align: middle;
}
/* .md-table.br */
.md-table.br th, .md-table.br td{
  border-right: 1px solid #e2e8f0;
}
